@media only screen and (max-width: 7000px) {
   .skipmain{
       display: none;
   }
   body{
       background-color:lightcyan;
   }
   h1.travelhead{
       text-align: center;
       font-size:30px;
       font-weight: bolder;
       text-transform: uppercase;
       color:crimson;
       text-decoration: underline;
       font-family:fantasy;
   }
   main.travel h2{
    font-size: 15px;
    text-transform: capitalize;
    text-decoration: underline;
    margin-bottom: 5px;
    color:rgb(231, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

   }
   main.travel p{
       width: 90%;
       border: 3px purple dashed;
       margin: 5px;
       font-size: 100%;
   }
   main.travel h3{
       font-size: 15px;
       font-weight: bold;

   }
   
    .top img{
       display: flex;
       max-width: 80%;
       margin-bottom: 2%;
       flex-direction: column;
       max-height: auto;

   }
   
   ul.topnav{

        background-color:coral; 
        
        display:flex;
    
        flex-direction: column;
        align-items: center;

       
   }
   
   
   ul.topnav li{
       
        text-align: center;
        width: 100%;
        
        
        
       
        border: 2px black solid;
        margin: auto;
        font-size: 20px;
           
    }
    ul.topnav li:hover{
        background-color:yellow;
        color: red;
    }
    ul.topnav li .c{ 
       width: 100%;
       margin: auto;
       padding-left: 48.2%;
       padding-right: 48.2%;
        background-color: yellow;
        
    }
    .photolist{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr)); 
        gap: 5%;
       border: 3px black solid;
       margin-bottom: 5%;
       padding-bottom: 20%;
    }
    .photolist im{
        width: 40%;
        height: auto;
    }
    .photolist figcaption{
        font-size: 10px;
        width: auto;
    }
    
   
}





